label {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
input {
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  border: solid;
  border-color: gray;
  cursor: pointer;
}
input:hover {
  border-color: black;
}
input:focus {
  border-color: gray;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  cursor: pointer;
}
button:hover {
  background-color: #6c8cff;
}
